<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MMTapBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>757470791DE2F4A200A02655</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>757470921DE2F4A200A02655</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7574709D1DE2F4A200A02655</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
